@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.check_box_card {
  border: 1px solid var(--grey-16);
  background-color: var(--white-1);
  cursor: pointer;
  min-height: 4.5rem;
}

.check_box_card_selected {
  border: 1px solid var(--grey-16);
  background-color: var(--secondary-2);
  cursor: pointer;
  min-height: 4.5rem;
}

.check_box_card:hover {
  background-color: var(--secondary-2);
}

.check_box_card:focus {
  background-color: var(--secondary-2);
}
