@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.custom_input_style {
  border-color: var(--grey-08);
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--grey-87);
  font-family: "Lato-Regular", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 1.429;
}

.custom_input_style::placeholder {
  color: var(--grey-40);
  font-family: "Lato-Regular", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 1.429;
}

.custom_input_style:hover {
  border-color: var(--primary-1);
  box-shadow: none;
}

.custom_input_style:focus {
  border-color: var(--primary-1);
  color: var(--grey-87);
  box-shadow: none;
}
