@import url("../../styles/colors.css");
@import url("../../styles/global.css");

.right_side_view {
  background-color: var(--primary-3);
}

.left_side_view {
  background-color: var(--white-1);
}

.link_style {
  color: var(--primary-1);
  font-family: "Lato-Bold", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.22px;
  line-height: 1.714;
  text-decoration: none;
}

.mainDiv{
  /* padding: 1rem; */
  min-width: 16rem;
}