@import url("../../styles/colors.css");
@import url("../../assets/fonts/fonts.css");

.navi_black_bg {
  background-color: var(--white-1);
  box-shadow: 0 2px 9px 0px var(--grey-08);
  min-height: 3.75rem;
  padding-top: 0.5rem;
}

.list_color {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.12px;
  line-height: 1.5;
  color: var(--grey-87);
}
  
